<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="CSH Logo"
    src="../assets/white_square.png"
    />
  <span>L.I.B.E.R.T.Y</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main" >
  <table *ngIf="true" class="table">
    <tbody>
      <tr  *ngFor="let rows of frames[(currFrame - 1)]; let i = index"><td *ngFor="let columns of rows; let j = index">
        <button *ngIf="columns == '0'" class="blackbutton" (click)="buttonClick(columns, i, j)" ></button>
        <button *ngIf="columns == 'W'" class="whitebutton" (click)="buttonClick(columns, i, j)"></button>
        <button *ngIf="columns == 'Y'" class="yellowbutton" (click)="buttonClick(columns, i, j)"></button>
        <button *ngIf="columns == 'B'" class="bluebutton" (click)="buttonClick(columns, i, j)"></button>
        <button *ngIf="columns == 'P'" class="purplebutton" (click)="buttonClick(columns, i, j)"></button>
        <button *ngIf="columns == 'G'" class="greenbutton" (click)="buttonClick(columns, i, j)"></button>
        <button *ngIf="columns == 'R'" class="redbutton" (click)="buttonClick(columns, i, j)"></button>
      </td></tr>
    </tbody>
  </table>
  <form #f="ngForm" (submit)="postForm(f)">
    <label for="name-input">Filename: </label>
    <input name="name" id = "name-input" #fileName ngModel/><br>
    <button>Submit</button>
  </form>
  </div>

